/node_modules
/dist
.parcel-cache
temp.txt

/~$tes-and-Links.docx
/~WRL0005.tmp
/~WRL1702.tmp
/~WRL2899.tmp
/~WRL0006.tmp
/~WRL0004.tmp
/~WRL0004.tmp
/~WRL0891.tmp

/coverage

/~$llected_Info_ReactJs.docx
/~WRL1272.tmp
/~WRL2108.tmp
/~WRL3624.tmp
/~WRL3881.tmp